################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Diablo3Kit/obj/Debug
/Diablo3Kit/obj
/bin/Debug/net45
